@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: rgb(240, 240, 240);
}
html {
  width: calc(100vw - 8px);
}
main {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10;
}
.upper-left {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.upper-left a img {
  width: 40px;
  height: 40px;
  margin-left: 16px;
  margin-right: 10px;
}
.upper-left p {
  background-color: rgb(235, 235, 235);
  color: black;
  border: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 40px;
  font-size: 16px;
  padding-right: 10px;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#search {
  width: 40px;
  height: 40px;
  padding: 0 10px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: rgb(235, 235, 235);
}
.buttons {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.buttons a {
  width: 162.5px;
  flex: 1;
  height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 5px 0;
}
.buttons a:hover {
  background-color: rgb(235, 235, 235);
}
.buttons a img {
  width: 30px;
  height: 30px;
  color: grey;
}
#video-img {
  width: 20px;
  height: 20px;
}
.upper-right {
  width: auto;
  height: 100%;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.upper-right a {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-color: rgb(220, 220, 220);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  object-fit: contain;
}
.upper-right a:hover {
  background-color: rgb(200, 200, 200);
}
.upper-right a img {
  width: 25px;
  height: 25px;
}
#profile-img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}
.menu {
  width: 20vw;
  height: calc(100vh - 56px);
  position: fixed;
  top: 56px;
  left: 0;
  z-index: 10;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
}
.menu a {
  width: 90%;
  height: 48px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: 500;
  margin-left: 10px;
}
.menu a:hover {
  background-color: rgb(220, 220, 220);
}
.menu a img {
  width: 36px;
  height: 36px;
  margin: 0 10px;
}
#side-profile-img {
  border-radius: 100px;
}
#see-more-img {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.feed {
  margin-top: 80px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.stories {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.story {
  width: 24%;
  text-align: center;
  position: relative;
}
.story p {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 80%;
  left: 10%;
}
.story1 {
  width: 24%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.story-img1 {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.story-img {
  width: 100%;
  height: 100%;
  flex: 1;
  border-radius: 10px;
}
.story-img-user {
  border-radius: 100px;
  border: 4px solid rgb(28, 77, 235);
  position: absolute;
  width: 36px;
  height: 36px;
  top: 5%;
  left: 10%;
}

.create-story {
  width: 40px;
  height: 40px;
  background-color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 130%;
  border-radius: 100px;
}
#create-story-img {
  width: 32px;
  height: 32px;
}
.create-story-p {
  width: 100%;
  background-color: white;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.create-story-p p {
  margin-top: 25px;
  margin-bottom: 0;
  width: 80%;
}

.create-post {
  background-color: white;
  width: 100%;
  margin-top: 20px;
  padding-top: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.create-post-upside img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  margin-right: 10px;
}

.create-post-upside p {
  background-color: rgb(230, 230, 230);
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 20px;
  color: rgb(100, 100, 100);
}

.create-post-upside {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.create-post-downside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.live-video,
.photo-video,
.feeling-activity {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.live-video img,
.photo-video img,
.feeling-activity img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.live-video p,
.photo-video p,
.feeling-activity p {
  color: rgb(100, 100, 100);
}

.post1 {
  width: 100%;
  background-color: white;
  margin-top: 20px;
  border-radius: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.post1-upside {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
.post1-upside-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.post1-upside-left img {
  border-radius: 100px;
  margin-right: 10px;
}
.post1-upside-left p {
  font-size: 20px;
}
.post1-upside-right {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#three-dots {
  width: 45px;
  height: 100%;
  flex: 1;
  padding: 10px;
  border-radius: 100px;
}
#three-dots:hover {
  background-color: rgb(235, 235, 235);
}
#ex {
  width: 45px;
  height: 100%;
  flex: 1;
  padding: 10px;
  border-radius: 100px;
}
#ex:hover {
  background-color: rgb(235, 235, 235);
}
#title {
  width: 95%;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: start;
}
.post1-img {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}
.post1-img img {
  flex: 3;
}
.post1-img-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
}
.right-side {
  position: fixed;
  top: 80px;
  right: 10px;
  margin-left: 10px;
  width: 20vw;
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.contacts a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 5px;
}
.contacts a:hover {
  background-color: rgb(190, 190, 190);
}
.contacts a img {
  border-radius: 100px;
  margin-right: 10px;
}
.contacts-side-up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contacts-side-up p {
  font-size: 20px;
  color: #888;
}
#contacts-search {
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 100px;
  margin-left: auto;
}
#contacts-search:hover {
  background-color: rgb(190, 190, 190);
}
#contacts-three-dots {
  width: 45px;
  height: 45px;
  padding: 10px;
  border-radius: 100px;
}
#contacts-three-dots:hover {
  background-color: rgb(190, 190, 190);
}
.like-com-share {
  width: 95%;
  border-top: 1px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.like-com-share a {
  width: 32%;
  height: 40px;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}
.like-com-share a:hover {
  background-color: rgb(235, 235, 235);
}
.like-com-share a img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.downside {
  display: none;
}

@media screen and (max-width: 1200px) {
  .upper-left p {
    display: none;
  }
  #search {
    border-radius: 30px;
  }
}
@media screen and (max-width: 991px) {
  .menu {
    display: none;
  }
  .right-side {
    display: none;
  }
  .feed {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  .buttons {
    display: none;
  }
  .feed {
    width: 100%;
    margin-top: 60px;
  }
  .stories {
    background-color: white;
    width: 100vw;
    padding: 5px 10px;
  }
  .story {
    width: 24%;
  }
  .story1 {
    width: 23%;
  }
  .create-post {
    width: 100%;
    border-radius: 0;
  }
  .post1 {
    border-radius: 0;
  }
  .post1-upside {
    margin-top: 0;
  }
  .live-video p,
  .photo-video p,
  .feeling-activity p {
    display: none;
  }
  .create-post-downside {
    margin: 10px 0;
  }
  .downside {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8vh;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
  }
  .downside a {
    width: 20%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
  }
  .downside a:hover {
    background-color: rgb(200, 200, 200);
  }
  .downside a img {
    width: 30px;
    height: 30px;
  }
  #downside-videos {
    width: 25px;
    height: 25px;
  }
}
